#page-desktop {
  background-color: #666666 !important;
}
.layout-main-section {
  border: 1px solid #CCCCCC;
}
.page-head {
  border-bottom: 1px solid #CCCCCC;
}
.timeline-head {
  border: 1px solid #CCCCCC;
}
.control-label,
.grid-heading-row {
  color: #555555;
  font-size: 13px;
}
.form-control {
  border: 1px solid #AAAAAA;
}
.case-wrapper[data-name="Explore"],
.module-link[data-name="Website"],
.dropdown-help {
  display: none !important;
}
.grid-static-col.bold {
  background-color: transparent;
}
.help-box {
  font-size: 11px;
  text-align: right;
}
textarea.form-control {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/*Estilos Home*/
h6.uppercase,
.h6.uppercase {
  font-size: 14px;
}
.app-icon {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.app-icon:hover {
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.case-wrapper[data-name="Explore"] {
  display: none !important;
}
.btn-default {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
