@font-grey-medium: #555555;
@font-size-medium: 13px;
@input-border-medium: 1px solid #AAAAAA;
@layout-border-medium: 1px solid #CCCCCC;

.layout-main-section {
    border: @layout-border-medium;
}

.page-head {
    border-bottom: @layout-border-medium;
}

.timeline-head {
    border: @layout-border-medium;
}

.control-label, .grid-heading-row {
    color: @font-grey-medium;
    font-size: @font-size-medium;
}

.form-control {
    border: @input-border-medium;
}

.case-wrapper[data-name="Explore"], .module-link[data-name="Website"], .dropdown-help {
	display: none !important;
}